[Desktop Entry]
Type=Application
Name=VileTech
Comment=Fork of dsda-doom
Icon=viletech
TryExec=viletech
Exec=viletech %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;
Name[en_CA]=viletech.desktop
