Makefile.am eol=lf
dll/libogg-0.dll -text
dll/libvorbis-0.dll -text
dll/libvorbisfile-3.dll -text
dll/portmidi.dll -text
lib/dumb.lib -text
lib/dumbd.lib -text
lib/libfluidsynth.lib -text
lib/libmad.lib -text
lib/libmadd.lib -text
lib/libogg.lib -text
lib/libvorbis.lib -text
lib/libvorbisfile.lib -text
lib/portmidi.lib -text
