* text=auto

/Cargo.lock text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.glsl text eol=lf
.vs/CMakeWorkspaceSettings.json text eol=crlf
