
Makefile.am eol=lf
flats/-n0_tex-.ppm -text svneol=unset#unset
graphics/boxcc.ppm -text svneol=unset#application/octet-stream
graphics/boxcl.ppm -text svneol=unset#application/octet-stream
graphics/boxcr.ppm -text svneol=unset#application/octet-stream
graphics/boxlc.ppm -text svneol=unset#application/octet-stream
graphics/boxll.ppm -text svneol=unset#application/octet-stream
graphics/boxlr.ppm -text svneol=unset#application/octet-stream
graphics/boxuc.ppm -text svneol=unset#application/octet-stream
graphics/boxul.ppm -text svneol=unset#application/octet-stream
graphics/boxur.ppm -text svneol=unset#application/octet-stream
graphics/cross1.ppm -text
graphics/cross2.ppm -text
graphics/cross3.ppm -text
graphics/cross4.ppm -text
graphics/cross5.ppm -text
graphics/cross6.ppm -text
graphics/cross7.ppm -text
graphics/dig033.ppm -text
graphics/dig034.ppm -text
graphics/dig035.ppm -text
graphics/dig036.ppm -text
graphics/dig037.ppm -text
graphics/dig038.ppm -text
graphics/dig039.ppm -text
graphics/dig040.ppm -text
graphics/dig041.ppm -text
graphics/dig042.ppm -text
graphics/dig043.ppm -text
graphics/dig044.ppm -text
graphics/dig045.ppm -text
graphics/dig046.ppm -text
graphics/dig047.ppm -text
graphics/dig048.ppm -text
graphics/dig049.ppm -text
graphics/dig050.ppm -text
graphics/dig051.ppm -text
graphics/dig052.ppm -text
graphics/dig053.ppm -text
graphics/dig054.ppm -text
graphics/dig055.ppm -text
graphics/dig056.ppm -text
graphics/dig057.ppm -text
graphics/dig058.ppm -text
graphics/dig059.ppm -text
graphics/dig060.ppm -text
graphics/dig061.ppm -text
graphics/dig062.ppm -text
graphics/dig063.ppm -text
graphics/dig064.ppm -text
graphics/dig065.ppm -text
graphics/dig066.ppm -text
graphics/dig067.ppm -text
graphics/dig068.ppm -text
graphics/dig069.ppm -text
graphics/dig070.ppm -text
graphics/dig071.ppm -text
graphics/dig072.ppm -text
graphics/dig073.ppm -text
graphics/dig074.ppm -text
graphics/dig075.ppm -text
graphics/dig076.ppm -text
graphics/dig077.ppm -text
graphics/dig078.ppm -text
graphics/dig079.ppm -text
graphics/dig080.ppm -text
graphics/dig081.ppm -text
graphics/dig082.ppm -text
graphics/dig083.ppm -text
graphics/dig084.ppm -text
graphics/dig085.ppm -text
graphics/dig086.ppm -text
graphics/dig087.ppm -text
graphics/dig088.ppm -text
graphics/dig089.ppm -text
graphics/dig090.ppm -text
graphics/dig091.ppm -text
graphics/dig092.ppm -text
graphics/dig093.ppm -text
graphics/dig094.ppm -text
graphics/dig095.ppm -text
graphics/dig096.ppm -text
graphics/dig097.ppm -text
graphics/dig098.ppm -text
graphics/dig099.ppm -text
graphics/dig100.ppm -text
graphics/dig101.ppm -text
graphics/dig102.ppm -text
graphics/dig103.ppm -text
graphics/dig104.ppm -text
graphics/dig105.ppm -text
graphics/dig106.ppm -text
graphics/dig107.ppm -text
graphics/dig108.ppm -text
graphics/dig109.ppm -text
graphics/dig110.ppm -text
graphics/dig111.ppm -text
graphics/dig112.ppm -text
graphics/dig113.ppm -text
graphics/dig114.ppm -text
graphics/dig115.ppm -text
graphics/dig116.ppm -text
graphics/dig117.ppm -text
graphics/dig118.ppm -text
graphics/dig119.ppm -text
graphics/dig120.ppm -text
graphics/dig121.ppm -text
graphics/dig122.ppm -text
graphics/dig123.ppm -text
graphics/dig124.ppm -text
graphics/dig125.ppm -text
graphics/dig126.ppm -text
graphics/m_butt1.ppm -text
graphics/m_butt2.ppm -text
graphics/m_colors.ppm -text
graphics/m_palno.ppm -text
graphics/m_palsel.ppm -text
graphics/m_vbox.ppm -text
graphics/stcfn096.ppm -text
graphics/stkeys6.ppm -text
graphics/stkeys7.ppm -text
graphics/stkeys8.ppm -text
lumps/animated.lmp -text
lumps/b_end.lmp -text svneol=unset#application/octet-stream
lumps/b_start.lmp -text svneol=unset#application/octet-stream
lumps/bfgbex.lmp -text
lumps/c_end.lmp -text svneol=unset#application/octet-stream
lumps/c_start.lmp -text svneol=unset#application/octet-stream
lumps/chexdeh.lmp -text
lumps/dsdacr.lmp -text
lumps/dsdahud.lmp -text
lumps/dsdatc.lmp -text
lumps/gammatbl.lmp -text svneol=unset#application/octet-stream
lumps/glfp.lmp -text
lumps/glshadow.lmp -text
lumps/glvp.lmp -text
lumps/m_ammo.lmp -text
lumps/m_armour.lmp -text
lumps/m_arrow.lmp -text
lumps/m_health.lmp -text
lumps/m_key.lmp -text
lumps/m_mark.lmp -text
lumps/m_normal.lmp -text
lumps/m_power.lmp -text
lumps/m_shadow.lmp -text
lumps/m_weap.lmp -text
lumps/nervebex.lmp -text
lumps/sinetabl.lmp -text
lumps/sndcurve.lmp -text
lumps/soundfont/sndfont.lmp -text
lumps/switches.lmp -text
lumps/tangtabl.lmp -text
lumps/tantoang.lmp -text
lumps/watermap.lmp -text
palette.rgb -text svneol=unset#unset
sounds/free/dsdgact.wav -text
sounds/free/dsdgatk.wav -text
sounds/free/dsdgdth.wav -text
sounds/free/dsdgpain.wav -text
sounds/free/dsdgsit.wav -text
sprites/dogsa1.ppm -text
sprites/dogsa2a8.ppm -text
sprites/dogsa3a7.ppm -text
sprites/dogsa4a6.ppm -text
sprites/dogsa5.ppm -text
sprites/dogsb1.ppm -text
sprites/dogsb2b8.ppm -text
sprites/dogsb3b7.ppm -text
sprites/dogsb4b6.ppm -text
sprites/dogsb5.ppm -text
sprites/dogsc1.ppm -text
sprites/dogsc2c8.ppm -text
sprites/dogsc3c7.ppm -text
sprites/dogsc4c6.ppm -text
sprites/dogsc5.ppm -text
sprites/dogsd1.ppm -text
sprites/dogsd2d8.ppm -text
sprites/dogsd3d7.ppm -text
sprites/dogsd4d6.ppm -text
sprites/dogsd5.ppm -text
sprites/dogse1.ppm -text
sprites/dogse2.ppm -text
sprites/dogse3.ppm -text
sprites/dogse4.ppm -text
sprites/dogse5.ppm -text
sprites/dogse6.ppm -text
sprites/dogse7.ppm -text
sprites/dogse8.ppm -text
sprites/dogsf1.ppm -text
sprites/dogsf2.ppm -text
sprites/dogsf3.ppm -text
sprites/dogsf4.ppm -text
sprites/dogsf5.ppm -text
sprites/dogsf6.ppm -text
sprites/dogsf7.ppm -text
sprites/dogsf8.ppm -text
sprites/dogsg1.ppm -text
sprites/dogsg2.ppm -text
sprites/dogsg3.ppm -text
sprites/dogsg4.ppm -text
sprites/dogsg5.ppm -text
sprites/dogsg6.ppm -text
sprites/dogsg7.ppm -text
sprites/dogsg8.ppm -text
sprites/dogsh1.ppm -text
sprites/dogsh2.ppm -text
sprites/dogsh3.ppm -text
sprites/dogsh4.ppm -text
sprites/dogsh5.ppm -text
sprites/dogsh6.ppm -text
sprites/dogsh7.ppm -text
sprites/dogsh8.ppm -text
sprites/dogsi0.ppm -text
sprites/dogsj0.ppm -text
sprites/dogsk0.ppm -text
sprites/dogsl0.ppm -text
sprites/dogsm0.ppm -text
sprites/dogsn0.ppm -text
sprites/free/dogsa1.ppm -text
sprites/free/dogsa2a8.ppm -text
sprites/free/dogsa3a7.ppm -text
sprites/free/dogsa4a6.ppm -text
sprites/free/dogsa5.ppm -text
sprites/free/dogsb1.ppm -text
sprites/free/dogsb2b8.ppm -text
sprites/free/dogsb3b7.ppm -text
sprites/free/dogsb4b6.ppm -text
sprites/free/dogsb5.ppm -text
sprites/free/dogsc1.ppm -text
sprites/free/dogsc2c8.ppm -text
sprites/free/dogsc3c7.ppm -text
sprites/free/dogsc4c6.ppm -text
sprites/free/dogsc5.ppm -text
sprites/free/dogsd1.ppm -text
sprites/free/dogsd2d8.ppm -text
sprites/free/dogsd3d7.ppm -text
sprites/free/dogsd4d6.ppm -text
sprites/free/dogsd5.ppm -text
sprites/free/dogse1.ppm -text
sprites/free/dogse2.ppm -text
sprites/free/dogse3.ppm -text
sprites/free/dogse4.ppm -text
sprites/free/dogse5.ppm -text
sprites/free/dogse6.ppm -text
sprites/free/dogse7.ppm -text
sprites/free/dogse8.ppm -text
sprites/free/dogsf1.ppm -text
sprites/free/dogsf2.ppm -text
sprites/free/dogsf3.ppm -text
sprites/free/dogsf4.ppm -text
sprites/free/dogsf5.ppm -text
sprites/free/dogsf6.ppm -text
sprites/free/dogsf7.ppm -text
sprites/free/dogsf8.ppm -text
sprites/free/dogsg1.ppm -text
sprites/free/dogsg2.ppm -text
sprites/free/dogsg3.ppm -text
sprites/free/dogsg4.ppm -text
sprites/free/dogsg5.ppm -text
sprites/free/dogsg6.ppm -text
sprites/free/dogsg7.ppm -text
sprites/free/dogsg8.ppm -text
sprites/free/dogsh1.ppm -text
sprites/free/dogsh2.ppm -text
sprites/free/dogsh3.ppm -text
sprites/free/dogsh4.ppm -text
sprites/free/dogsh5.ppm -text
sprites/free/dogsh6.ppm -text
sprites/free/dogsh7.ppm -text
sprites/free/dogsh8.ppm -text
sprites/free/dogsi0.ppm -text
sprites/free/dogsj0.ppm -text
sprites/free/dogsk0.ppm -text
sprites/free/dogsl0.ppm -text
sprites/free/dogsm0.ppm -text
sprites/free/dogsn0.ppm -text
sprites/pls1a0.ppm -text
sprites/pls1b0.ppm -text
sprites/pls1c0.ppm -text
sprites/pls1d0.ppm -text
sprites/pls1e0.ppm -text
sprites/pls1f0.ppm -text
sprites/pls1g0.ppm -text
sprites/pls2a0.ppm -text
sprites/pls2b0.ppm -text
sprites/pls2c0.ppm -text
sprites/pls2d0.ppm -text
sprites/pls2e0.ppm -text
sprites/tnt1a0.ppm -text
