client/src/MUSIC/Makefile.am eol=lf
client/src/MUSIC/dll/libogg-0.dll -text
client/src/MUSIC/dll/libvorbis-0.dll -text
client/src/MUSIC/dll/libvorbisfile-3.dll -text
client/src/MUSIC/dll/portmidi.dll -text
client/src/MUSIC/lib/dumb.lib -text
client/src/MUSIC/lib/dumbd.lib -text
client/src/MUSIC/lib/libfluidsynth.lib -text
client/src/MUSIC/lib/libmad.lib -text
client/src/MUSIC/lib/libmadd.lib -text
client/src/MUSIC/lib/libogg.lib -text
client/src/MUSIC/lib/libvorbis.lib -text
client/src/MUSIC/lib/libvorbisfile.lib -text
client/src/MUSIC/lib/portmidi.lib -text
